# LaTeX Auxiliary Files
*.aux
*.bcf
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.lof
*.lot
*.nav
*.snm
*.vrb
*.ttt
*.fff

# MiKTeX Biber/Engine Save-Error Artifacts
*.bbl-SAVE-ERROR
*.bcf-SAVE-ERROR
texput.pdf

# Output PDF (Opcional, conservar si deseas ignorar los PDF generados)
# *.pdf
